{% extends 'base.html.twig' %}

{% block title %}Hello AuthController!{% endblock %}

{% block body %}

    <div class="mt-5 bg-dark d-flex justify-content-center align-items-center flex-column">

        <h1 class="">Connection</h1>

        <div class="card mt-4">
            <p>Hey</p>
        </div>

    </div>

{% endblock %}
